<ng-container *ngIf="chat$ | async as chat">
  <ng-container *ngIf=" auth.user$ | async as user">

  

    <div #chatBox class="chat">


      <div class="msg animated zoomInUp" *ngFor="let msg of chat.messages; trackBy: trackByCreated">

        <div class="user">
          <img [src]="msg.user?.photoURL || 'assets/logo-spirale.png'" width="50px">
          <div><span class="tag is-dark">{{ msg.user?.displayName || msg.user?.uid }}</span></div>


        </div>

        <p>{{ msg.content }}</p>


      </div>



    </div>


    

    <div class="form scrolling-navbar top-nav-collapse">
      <input class="input" [(ngModel)]="newMsg" maxlength="100" (keydown.enter)="submit(chat.id)">
      
      <button (click)="submit(chat.id)" class="button all-btn is-medium" [disabled]="!newMsg">Envoyer</button>
      <p><a class="button all-btn is-1 is-medium" routerLink="/">Retour</a></p>
    </div>

  </ng-container>
</ng-container>