
 
<div class="login">

  <div *ngIf=" auth.user$ | async as user; else login">
      <div >
          <h1>Bienvenue {{ user.displayName }} au Magic Adventure</h1>
          </div>
  
    <hr>

    <button class="button" routerLink="/chats/escapebreak">Rejoignez le tchat</button>
    <button class="button is-info" (click)="cs.create()">Créer un nouveau tchat</button>

    <hr>

    <h3>Mes Tchats</h3>

    <ul>
      <div *ngFor="let chat of userChats$ | async; let i = index">
        <a [routerLink]="'chats/' + chat.id"> Chat {{i+1}} - {{ chat.messages.length }} Messages </a>
      </div>
    </ul>
    <hr>
    <button class="button is-small" (click)="auth.googleSignOut()">Se déconnecter</button>
  </div>

 

</div> 
<ng-template #login>

       
  <h1>Bienvenue au Magic Adventure</h1>
  <hr>
    <button class="button" (click)="auth.googleSignIn()">Se connecter avec Google</button>

  </ng-template>